body {
    background-color:antiquewhite;
    margin: 0;
}

div {
    font-family: Helvetica;
    background-color: #272D33;
    color: white;
    font-size: 32px;
    padding: 0;
    margin: 0;
}

.top {
    display: flex;
    padding: 10px;
}

.right {
    height: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 50%;
}

.items:hover {
    background-color: gray;
    opacity: 0.5;
    cursor: pointer;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
}

.navbar {
    display: flex;
    justify-content: space-around;
    
}

.title {
    font-size: 15px;
    margin-right: auto;
    width: 50%; 
    text-align: center;
    height: auto;
    width: 50%;
}

.searchbar {
    max-height: 20px;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
}

.searchbar img {
    max-height: 20px;
    max-width: 20px;
}
